html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-y: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    overflow: hidden;
    background-color: #333333;
    height: 6vh;
    padding: 0;
}

#navbar a{
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    align-self: center;
}

#navbar a:hover {
    background-color: royalblue;
    color: black;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.wrapper {
    height: 110vh;
    width: 100%;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

.sticky + .wrapper {
    padding-top: 60px;
}

.section {
    position: relative;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.parallax::after {
    content: "";
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-0.75px) scale(1.5);
    background-size: 100%;
    z-index: -1;
}

.static {
    background: gainsboro;
}

.bg1::after {
    background-image: url("../images/IMG_0196.JPG");
    object-fit: cover;
}

.bg2::after {
    background-image: url("../images/IMG_0659.JPG");
    object-fit: cover;
}

.bg3::after {
    background-image: url("../images/IMG_0874.JPG");
    object-fit: cover;
}

.bg4::after {
    background-image: url("../images/IMG_0664.JPG");
    object-fit: fill;
}

#wrap{
    width: 90%;
    /* height: calc(100vh - 50px); */
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    text-align: center;
}
#myphoto{
    width: 470px;
    height: 470px;
    border-radius: 50%;
    background: url("../images/boydimage1.jpg") no-repeat left center #fff;
    align-self: center;
    justify-self: center;
}
#me{
    margin-bottom: 10px;
    align-self: center;
    font-size: 3rem;
}

#lede{
    font-size: 2rem;
}

.clearfix{
    clear: both;
}

.about, .portfolio, .contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .15fr;
}

#about h2, #portfolio h2, #contact h2 {
    display: block;
    align-self: center;
    text-align: center;
    padding: 15px;
    margin: 5px;
}

#work {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}

.build-box {
    height: 45%;
    width: 90%;
    flex-basis: 25vw;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    background-color: #80AE86;
    border-radius: 2px;
    padding: 5px;
    margin: 0px 10px;
    text-align: center;
}

.build-box p {
    font-size: 14px;
}

#build-photo-1 {
    height: 100%;
    max-width: 100%;
    background: url("../images/plantpal.PNG") no-repeat center;
    background-size: cover;
}

#build-photo-2 {
    height: 100%;
    max-width: 100%;
    background: url("../images/tradex.PNG") no-repeat center;
    background-size: cover;
}

#build-photo-3 {
    height: 100%;
    max-width: 100%;
    background: url("../images/538scrape.PNG") no-repeat center;
    background-size: cover;
}

#build-photo-4 {
    height: 100%;
    max-width: 100%;
    background: url("../images/clicky.PNG") no-repeat center;
    background-size: cover;
}

#build-photo-5 {
    height: 100%;
    max-width: 100%;
    background: url("../images/triviaGame.PNG") no-repeat center;
    background-size: cover;
}

#build-photo-6 {
    height: 100%;
    max-width: 100%;
    background: url("../images/giphySearch.PNG") no-repeat center;
    background-size: cover;
}

#build-info-1 {
    height: 50%;
    width: 100%;
}

#build-info-2 {
    height: 50%;
    width: 100%;
}

#build-info-3 {
    height: 50%;
    width: 100%;
}

#build-info-4 {
    height: 50%;
    width: 100%;
}

#build-info-5 {
    height: 50%;
    width: 100%;
}

#build-info-6 {
    height: 50%;
    width: 100%;
}
#portfolio, #contact {
    font-size: 1.5rem;
}
.contactForm {
    width: 90%;
    height: 75%;
    margin: 0 auto;
    padding: 2%;
    background-color: #ffffff;
    border-radius: 1em;
    flex: 1 0 auto;
}

.form-group {
    box-sizing: border-box;
    padding: 5px;
    margin: 10px;
    display: block;
}

label {
    margin-bottom: 10px;
}

.form-group input {
    border: 1.5px solid #ccc;
    height: 25px;
    width: 90%;
}

.form-group textarea {
    height: 220px;
    width: 90%;
    padding: 12px 20px;
    border: 1.5px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

button {
    position: relative;
    left: 1%;
    border-radius: 2px;
}

.footer {
    height: 10vh;
    border-top: royalblue 1px;
    background-color: #333333;
}

@media only screen and (max-width: 800px){
    .bg1::after {
        background-image: url("../images/IMG_0659.JPG");
        object-fit: cover;
    }
    
    .bg2::after {
        background-image: url("../images/IMG_0663.JPG");
        object-fit: cover;
    }
    
    .bg3::after {
        background-image: url("../images/IMG_0664.JPG");
        object-fit: cover;
    }
    #wrap{
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 1fr;
    }
    #myphoto{
        height: 42vh;
        width: 90vw;
        background: url("../images/boydimage1.jpg") no-repeat center left 25% #fff;
    }
    #me{
        font-size: 1.5rem;
    }
    #wrap {
        align-items: baseline;
        align-content: space-between;
    }
    #work {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 5px 5px;
        justify-content: space-around;
        align-content: center;
    }
    .build-box {
        height: 80%;
        width: 90%;
        margin: 0px 5px;
    }
    .build-box h3 {
        font-size: 0.75rem;
    }
    .build-box p {
        font-size: 10px;
    }
    .contact {
        max-height: 100%;
    }
    #contact {
        font-size: 0.75rem;
    }
    .contactForm {
        max-width: 75%;
        height: 90%;
    }
    .form-group {
        max-width: 90%;
    }
    .form-group textarea {
        height: 18vh;
        max-width: 65%;
        margin: 0 auto;
    }
}