* {
    border-style: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: overlay;
}

.wrapper{
    width: 100%;
    height: calc(100vh - 50px);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    text-align: center;
}
.myphoto{
    width: 470px;
    height: 470px;
    border-radius: 50%;
    background: url("../images/boydimage1.jpg") no-repeat left center #fff;
    align-self: center;
    justify-self: center;
}
.about{
    margin-bottom: 10px;
    align-self: center;
}

.lede{
    font-size: 2rem;
}

.clearfix{
    clear: both;
}

.descSpan{
    background-color: #00000070;
    padding: 5px;
    color: white;
    border-radius: 10px;
}

.buildLink{
    margin-left: 37.5%;
    margin-right: 37.5%;
    padding: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #007bff;
    border-radius: 10px;
    color: white;
}

.buildLink:hover{
    background-color: #0056b3;
}

@media only screen and (max-width: 800px){
    .wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 1fr;
    }
}